<!doctype html>
<html>
  <head>
    <title>Sports News</title>
    <link rel="stylesheet" href="/stylesheets/form.css">
  </head>
  <body>
  <h1 class="user-greeting">Select your favorite teams, <%= current_user.username %></h1>
    <form action="/add_team" method="post" class="select-teams-form">
        <label for="nba"><h2>NBA</h2></label><br>
            <% @teams.each do |team| %>
            <% if !@selected_ids.include?(team.id)  %>
                <input type="checkbox" name="[team_ids][]" id="<%= team.id %>" value="<%= team.id %>"><%= team.name %>
                <br>
            <% end %>
        <% end %>
        <br>
            <input type="submit" value="Submit">
    </form>
  </body>
</html>