<h1>Unfollow</h1>
<form action="/remove_teams" method="post">
<label for="football"><h3>Football</h3></label><br>
<%  @user_teams.each do |team| %>
        <input type="checkbox" name="[team_ids][]" id="<%= team.id %>" value="<%= team.id %>"><%= team.name %>
        <br>
<% end %>
    <br>
    <input type="submit" value="Submit">
</form>