html, body {
    margin: 0px;
}

.narrow-nav {
    background-color: #000;
    white-space: nowrap;
    font: 16px/60px Effra,Helvetica,Arial,sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
}

.site-logo {
    margin: 2px;
    padding-left: 10px;
    font-size: 28px;
    display: block;
    position: relative;
    z-index: 1;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding-right: 8px;
}

.nav-links li a {
    padding-right: 10px;
    padding-left: 10px;
    border-left: 1px solid #7c7c7c;
}

.nav-links a:hover {
    color:#b3aaaa;  
}

a {
    text-decoration: none;
    color: #fff;
    font-family: Georgia, serif;
}

a.edit-comment {
    color: rgb(51, 51, 182);
    text-decoration: underline;
}

main#homepage-content {
    box-sizing: border-box;
    margin-top: 30px;
    margin-left: 0px;
}

div.team-info {
    display: block;
    position: relative;
    right: 15px;
    margin: 45px;
}

div.team-content-container {
    margin: 0 90px;
    padding: 1px;
}

ul.team-list {
    display: flex;
    flex-flow: column wrap;
    margin: 45px 45px;
    padding: 35px 90px;
    border: 1px solid #c0b4b4;
    border-radius: 10px;
}

li.team-standing {
    text-align: right;
    text-decoration: underline;
    font-weight: bolder;
}

li.img {
    display: block;
    position: relative;
}

ul.team-list li {
    list-style: none;
}

li.team-name {
    display: block;
    position: relative;
    width: 100%;
    left: 35px;
    bottom: 10px;
    font-size: 22px;
    font-family: Georgia, serif;
    font-weight: bolder;
}

li.team-record {
    text-align: right;
    display: block;
    position: relative;
    bottom: 55px;
    right: 25px;
    width: 100%;
    font-weight: bolder;
}

li.team-news {
    text-align: center;
    font-size: 26px;
    font-family: Georgia, serif;
    margin: 35px;
    padding: 0 35px 15px;
}

 li.textarea textarea {
    display: block;
    width: 35%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 25px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

div.comments-container {
    width: auto;
    display: block;
    margin: 0 45px;
}

.comments-section {
    display: flex;
    flex-flow: column wrap;
}

.comment-and-edit {
    display: block;
    position: relative;
    left: 32px;
    bottom: 25px;
}

#delete {
    background-color: #fff;
    border: none;
}

#delete:hover {
    cursor: pointer;
}

.edit-comment {
    padding: 0 15px;
    text-decoration: none;
    line-height: 22px;
    font-size: 14px;
}

.edit-comment button {
    background-color: #fff;
    border: none;
}

.edit-comment button:hover {
    cursor: pointer;
}

label[for="comments"] {
    display: block;
    margin: 15px 0;
    font-weight: bold;
}

.comment-box {
    display: flex;
    flex-flow: column wrap;
}

.comment-box textarea {
    width: 250px;
    height: auto;
    margin-top: 20px;
}

.comment-box-submit-button {
    width: fit-content;
    margin-top: 15px;
    margin-bottom: 20px;
}

span#copyright {
    display: block;
    text-align: center;
    position: relative;
    background-color: #000;
    bottom: 0px;
    color: #fff;
    height: 60px;
    padding: 40px;
}

span#layout-copyright {
    display: block;
    text-align: center;
    position: relative;
    background-color: #000;
    bottom: 0px;
    color: #fff;
    height: 60px;
    padding: 40px;
}