<div class="team-info">
    <h1>Welcome to World Sports News</h1>
        <section class="team-container">
            <% @teams.each do |team_info| %>
                <ul class="team-list">
                    <p class="team-standing">Team Record</>
                    <li><img src="<%= team_info.logo %>" width="30px" height="30px">
                    <li class="team-name"><%= team_info.name %>
                    <li class="team-record"><%= team_info.team_record %>
                    <li class="team-news"><%= team_info.news %>
                </ul>
            <% end %>
        </section>
    </div>