<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/index.css">
  </head>
   <body>
   <main id="homepage-content">
    <h1 class="welcome-message">Welcome, <%= current_user.username %></h1>
    <br>
    <section class="team-info">
    <label for="nba" class="nba-title">NBA</label>
    <% @user_teams.each do |team_info| %>
    <ul class="followed-teams">
        <li class="team-title"><%= team_info.name %>
        <li class="team-record"><%= team_info.team_record %>
        <li class="team-news"><%= team_info.news %>
    </ul>
    </section>
    <% end %>
    </main>
 </body>
 </html>
