<!doctype html>
<html>
  <head>
    <title>Sports News</title>
    <link rel="stylesheet" href="/stylesheets/forms.css">
  </head>
  <body>
  <main id="homepage-content">
    <div class="form-info">
    <h1>Login</h1>
        <form action="/login" method="post" class="form">
          <fieldset class="user-info">
            <label for="username">Username:</label>
            <input type="text" name="user[username]" id="username" required>
            <label for="email">Email:</label>
            <input type="text" name="user[email]" id="email" required>
            <label for="password">Password:</label>
            <input type="password" name="user[password]" id="password" required>
            <input type="submit" value="Login">
          </fieldset>
        </form>
    </div>
  </main>
  </body>
</html>