<h1>You are in the show page! Success!</h1>
<h2>Welcome, <%= current_user.username %></h2>
<br>
<% if !current_user.teams.empty? %>
<% @user_teams.each do |team_info| %>
<ul>
    <li><%= team_info.name %>
    <li><%= team_info.team_record %>
    <li><%= team_info.news %>
</ul>
<% end %>
<% end %>

