<!doctype html>
<html>
  <head>
    <title>Sports News</title>
    <link rel="stylesheet" href="/stylesheets/admin_screen.css">
  </head>
  <body>
  <header id="welcome-screen">
  <main id="homepage-content">
    <%= yield %>
  <footer>
    <span id="layout-copyright">Copyright &copy; 2020 World Sports News.</span>
  </footer>
  </main>
  </body>
</html>