<!doctype html>
<html>
  <head>
    <title>World Sports News</title>
    <%# <link rel="stylesheet" href="/stylesheet/index.css"> %>
  </head>
  <body>
    <header id="content-title">
    <div class="wide-nav">
    <h1 class="welcome-screen-title">Welcome to Sports News!</h1>
    <nav id="content-links">
      <ul class="nav-links">
        <li><a href="/login">Login</a>
        <li><a href="/signup">Sign Up</a>
      </ul>
    </nav>
    </div>
    </header>
  <footer>
  <span class="copyright">Copyright &copy; 2020 World Sports News</span>
  </footer>
</html>